.controls {
	width: 100%;
	height: 40px;
	background: red;

	&__buttons-container {
		width: 100%;
		height: 100%;
		background-color: blue;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
