.movie {
	height: 100%;
	width: 100%;
	background-color: darkmagenta;
	color: white;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(1.0);
	transition: transform .1s;

	&:hover {
		transform: scale(1.05);
	}
}
