.landing {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: yellow;

	&__title {
		font-size: 40px;
	}

	&__list {
		height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
		font-size: 30px;
		padding-left: 50px;

		&-link {
			transition: color .1s;
			text-decoration: none;

			&:hover {
				color: white;
			}
		}
	}
}
